@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  height: 100vh;
  color: #494c5f;
  background: #f6f6fe;
  background-image: url(../images//bg-bottom.svg), url(../images/bg-top.svg);
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-size: 55vh, 42vh;
}

@media (max-width: 950px) {
  body {
    background-image: url(../images/bg-top.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 40vw;
  }
}

.header {
  text-align: center;
  margin-top: 50px;
}

.header__headline {
  font-size: 40px;
  margin-bottom: 10px;
}

.header__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 20px;
}

.header__toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.header__toggle-switch input:checked + .slider {
  background: -webkit-gradient(linear, right top, left top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to left, #a3a8f0, #696fdd);
}

.header__toggle-switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

.header__toggle-switch input:checked + .slider::before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  height: 400px;
  min-width: 300px;
  width: 25%;
  margin: 40px 0;
  padding: 20px 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  .card {
    width: 80%;
    margin: 10px 0;
  }
}

.card__price {
  font-size: 50px;
}

.card__body {
  width: 90%;
  text-align: center;
}

.card__body hr {
  margin: 12px;
  height: 1px;
  border-width: 0;
  border-radius: 10px;
  background-color: #b3b5c6;
}

.card__first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: -5px 5px 20px #b3b5c6;
          box-shadow: -5px 5px 20px #b3b5c6;
}

@media (max-width: 950px) {
  .card__first {
    border-radius: 10px;
  }
}

.card__middle {
  position: relative;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right bottom, #a3a8f0, #696fdd);
  color: #fff;
  z-index: 10;
}

.card__middle::before {
  content: '';
  position: absolute;
  height: 440px;
  width: 100%;
  top: -20px;
  bottom: 20px;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right bottom, #a3a8f0, #696fdd);
  border-radius: 10px;
  z-index: -10;
}

.card__middle hr {
  background-color: #f6f6fe;
}

@media (max-width: 950px) {
  .card__middle::before {
    content: none;
  }
  .card__middle {
    -webkit-box-shadow: 5px 5px 20px #b3b5c6;
            box-shadow: 5px 5px 20px #b3b5c6;
  }
}

.card__last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px #b3b5c6;
          box-shadow: 5px 5px 20px #b3b5c6;
}

@media (max-width: 950px) {
  .card__last {
    border-radius: 10px;
  }
}

.card__btn {
  width: 80%;
  padding: 12px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #696fdd;
}

.card__btn:hover {
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.card__btn:focus {
  outline: none;
}

.card__first .card__btn, .card__last .card__btn {
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  color: #fff;
}

.card__first .card__btn:hover, .card__last .card__btn:hover {
  background: #fff;
  color: #696fdd;
  border: 1px solid #696fdd;
}

.card h3 {
  font-size: 20px;
}

.attribution {
  text-align: center;
  margin: 20px;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */